/* Style the tab */
.tab {
  float: left;
  width: 200px;
  height: auto;
}

/* Style the buttons inside the tab */
.tab button {
  display: flex;
  color: black;
  height: auto;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 18px;
  color: Gray;
  padding: 4px;
}
.tab button h4 {
  text-align: center;
  padding-top: 8px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  color: var(--acc-color);
  background-color: var(--background-color);
  border-right: 5px solid var(--acc-color);
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 12px;
  width: 350px;
  height: 100%;
  border-left: 1px solid var(--main-color);
}

.icon-face {
  width: 50px;
  border: 2px solid var(--main-color);
  border-radius: 4px;
}

.message-box {
  background-color: var(--background-reverse);
  border: 1px solid var(--main-color);
  border-radius: 4px;
  padding: 12px;
  margin: 12px;
  width: auto;
}
