:root {
  --background-trans: rgba(255, 255, 255, 0.5);
  --background-tranz: rgba(255, 255, 255, 0.5);
  --background-reverse: rgba(0, 0, 0, 0.25);
  --main-color: #000000;
  --acc-color: skyblue;
  --follow-theme: none;
}

  :root[theme="dark"] {
    --background-trans: rgba(0, 0, 0, 0.5);
    --background-tranz: rgba(0, 0, 0, 0.7);
    --background-reverse: rgba(255, 255, 255, 0.25);
    --main-color: #FFFFFF;
    --acc-color: #FF1493;
    --follow-theme: invert();
  }

