.logo-zone {
  height: auto;
  width: auto;
  padding: 0px 4px 0px 4px;
  background-color: var(--background-tranz);
  border-bottom: solid 2px var(--acc-color);
}

.connecter {
  content: "";
  height: 40px;
  width: 50px;
  background-color: var(--background-tranz);
  clip-path: polygon(0 0, 100% 0, 100% 76%, 0 100%);
}

.clip-border {
  background-color: var(--acc-color);
  clip-path: polygon(0% 95%, 100% 70%, 100% 100%, 0% 100%);
}

.top-bar {
  flex: 1;
  height: 30px;
  background-color: var(--background-tranz);
  border-bottom: solid 2px var(--acc-color);
}
