* {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}
header {
  height: auto;
}

ul {
  display: flex;
  flex-direction: row-reverse;
}
li {
  width: auto;
  padding: 2px;
  margin-right: 4px;
}

main {
  flex: 1;
  width: auto;
  padding: 10px;
}

.center {
  flex: 1;
}

footer {
  height: auto;
}

/* global */
.container {
  display: flex;
  flex-direction: row;
  height: auto;
}

