.settings {
  width: 100%;
}
/* Style the tab */
.tab {
  float: left;
  width: auto;
  min-width: 120px;
  height: auto;
}

/* Style the buttons inside the tab */
.tab button {
  display: flex;
  color: black;
  height: auto;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  color: Gray;
  padding: 4px;
}
.tab button h4 {
  text-align: center;
  font-size: 18px;
  margin: 4px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: var(--background-reverse);
  color: var(--main-color);
}

/* Create an active/current "tab button" class */
.tab button.active {
  color: var(--main-color);
  background-color: var(--background-color);
  border-right: 3px solid var(--acc-color);
}

/* Style the tab content */
.tabcontent {
  width: 100%;
  min-width: 420px;
  border-left: 1px solid gray;
}
.tabcontent h4 {
  height: auto;
  font-size: 18px;
  padding: 4px;
  margin-bottom: 8px;
  border-bottom: 1px solid gray;
}
