/* Style the tab */
.tab {
  float: left;
  width: auto;
  height: auto;
}

/* Style the buttons inside the tab */
.tab button {
  display: flex;
  color: black;
  height: auto;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 18px;
  color: Gray;
  padding: 4px;
}
.tab button h4 {
  text-align: center;
  margin: 4px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  color: var(--acc-color);
  background-color: var(--background-color);
  border-right: 3px solid var(--acc-color);
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 4px;
  width: auto;
  border-left: 1px solid var(--main-color);
}

.message-box {
  background-color: var(--background-reverse);
  border: 1px solid var(--main-color);
  border-radius: 4px;
  margin-left: 8px;
  margin-top: 8px;
  width: auto;
  height: auto;
}
