.skypech {
  display: flex;
}

.posts-wrapper {
  height: auto;
  border-right: 1px solid gray;
}
.posts-wrapper {
  overflow-y: scroll;
}
.posts-wrapper::-webkit-scrollbar {
  width: 100px;
}
.posts-wrapper::-webkit-scrollbar-track {
  background-color: var(--background-color-tranz);
  border-radius: 100px;
}
.posts-wrapper::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 100px;
}
.post {
  display: flex; 
  height: auto;
  border-bottom: 1px solid gray;
  padding: 8px;
}

.post-header {
  width: auto;
  min-width: 60px;
}

.post-name {
  font-size: 14px;
  font-weight: bold;
  color: var(--acc-color);
  width: auto;
}

.post-body {
  width: auto;
  padding-left: 12px;
}

.post-tags {
  display: flex;
  margin: 4px;
}

.tag {
  background-color: var(--acc-color);
  color: black;
  width: auto;
  padding: 2px;
  margin-right: 4px;
  border-radius: 2px;
}

.post-title {
  font-weight: bold;
  padding-top: 4px;
  padding-bottom: 4px;
}
.post-message {
  flex: 1;
  width: auto;
  padding-top: 8px;
  padding-bottom: 8px;
}

.post-name span {
  color: gray;
  font-size: 12px;
  margin-left: 8px;
}
.post-title span {
  color: gray;
  font-size: 12px;
  margin-left: 8px;
}

#master {
  overflow-y: scroll;
}
#master::-webkit-scrollbar {
  width: 4px;
}
#master::-webkit-scrollbar-track {
  background-color: var(--background-color-tranz);
  border-radius: 100px;
}
#master::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 100px;
}

