<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <title>VOXON</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/colorscheme.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layout.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/design.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/glitch-logo.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/chat.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/skypech.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='js/colorscheme.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
</head>

<body>
  <header>
    <div class="container">
      <div class="logo-zone">
        <h2 class="hero glitch layers" data-text="VOXON"><span>VOXON</span></h2>
      </div>
      <div class="connecter">
        <div class="clip-border"></div>
      </div>
      <div class="menu">
        <ul>
          <li>
            <a href="javascript:changeLightMode();">
              <img class="icons mini-icons" src="{{ url_for('static', filename='icons/sun.png') }}">
            </a>
          </li>
          <li>
            <a href="javascript:changeDarkMode();">
              <img class="icons mini-icons" src="{{ url_for('static', filename='icons/moon.png') }}">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </header>


  <main>
    <div class="container">
      <div class="sider pane">
      </div>
      
      <div class="center pane">
        {% include 'skypech.html' %}
      </div>
      
      <div class="sider pane">
        <div class="target">
          <div target="_blank">{% include 'chat.html' %}</div>
        </div>
      </div>
    </div>
  </main>


  <footer>
    <div class="container">
      <ul>
        <li>
          <button>
            <div class="clock">
              <p class="clock-date"></p>
              <p class="clock-time"></p>
            </div>
          </button>
        </li>
        <li>
          <button class="mail-btn">
            <img class="icons mid-icons" src="{{ url_for('static', filename='icons/mail.png') }}" alt=""/>
          </button>
        </li>
      </ul>
    </div>
  </footer>
<script type="text/javascript" src="{{ url_for('static', filename='js/clock.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/switch-display.js') }}"></script>
</body>
</html>
