{% for post in posts %}
  <div class="post message-box">
    <div class="post-header">
      <div class="post-icon">
        <button class="post-btn" id="{{ post.skype_id }}">
          <img src="{{ post.icon }}">
        </button>
      </div>
    </div>
    <div class="post-body">
      <h5 class="post-name">{{ post.name }}<span>{{ post.skype_id }}</span></h5>
      <div class="post-tags">
        {% for tag in post.tags %}
          <div class="tag">{{ tag }}</div>
        {% endfor %}
      </div>        
      <div class="post-title">{{ post.title }}<span class="post-date">{{ post.date }}</span></div>        
      <div class="post-message">{{ post.message }}</div>        
    </div>
  </div>
{% endfor %}

<script type="text/javascript" src="{{ url_for('static', filename='js/get_more_posts.js') }}"></script>
