<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'wallpapers')" id="defaultOpen">
    <h4>wallpapers</h4>
  </button>

  <button class="tablinks" onclick="openCity(event, 'colorscheme')">
    <h4>Color Schemes</h4>
  </button>
</div>

<div id="wallpapers" class="tabcontent">
  <div class="message-box">Something 1</div>
</div>

<div id="colorscheme" class="tabcontent">
  <div class="message-box">Something 2</div>
</div>

<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>
