<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'settings')" id="defaultOpen">
    <h4>Settings</h4>
  </button>

  <button class="tablinks" onclick="openCity(event, 'empty')">
    <h4>Empty</h4>
  </button>
</div>

<div id="settings" class="tabcontent">
  <h4 style="height: auto;">wallpaper settings</h4>
  <form class="message-box" method="post" enctype="multipart/form-data">
    <input type="file" name="file" value="">
    <input type="submit" value="Apply Settings">
  </form>
  <h4 style="height: auto;">colorscheme settings</h4>
  <form class="message-box" method="post" enctype="multipart/form-data">
    <input type="radio" name="example" value="選択肢1">選択肢1
    <input type="radio" name="example" value="選択肢2">選択肢2
    <input type="radio" name="example" value="選択肢3">選択肢3
    <input type="submit" value="Apply Settings">
  </form>
</div>

<div id="empty" class="tabcontent">
  <div class="message-box">Something 2</div>
</div>

<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>
